.side-menu a, .accordion-content a {
     font-size: 1.15em;
     text-decoration:none!important;
}

.side-menu a, .accordion-content a {
     -webkit-transition:background-color .3s, color .15s, box-shadow .3s, opacity 0.3s, filter 0.3s;
     transition:background-color .3s, color .15s, box-shadow .3s, opacity 0.3s, filter 0.3s
}

.side-menu {
     height: 100%;
     width: 100%;
     background-color: #fff;
     position:fixed!important;
     z-index:1;
     overflow:auto
}

.side-menu a {
     color: #ffffff;
     padding: 1.00em 1.50em;
     display:block
}

.side-menu a:hover {
     color: #0d0d0d;
     background-color: #f2f2f2
}

.nav-color {
     color: #000!important;
     background-color: #0d0d0d!important
}

.shade-menu {
     box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
}

.color-white {
     color: #000!important;
     background-color:#fff!important
}

.shade-accordion {
     box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.accordion-display {
     display:block!important
}

.accordion-select {
     color:#fff!important;
     background-color:#262626!important
}

.accordion {
    width:100%;
    cursor:pointer
}

.accordion-content {
    cursor:auto;
    display:none;
    position:relative;
    width:100%;
    margin:0;
    padding:0
}

.accordion-content a {
    background-color: #565656;
    padding: 1.00em 3.0em;
    display:block
}

.accordion-content a : hover {
    background-color: #ccc
}

.active {
    background-color: #222222
}
